.pageContainer {
  min-width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15em;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  width: 100%;
}

.btnContainer
div {
  width: 15em;
  height: 5em;

  border: 3px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;

  cursor: pointer;
}